{% extends 'login_base.html.twig' %}

{% block title %}Hello ForgotController!{% endblock %}


    {% block body %}

     {% for message in app.flashes('error') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

     {{ form_start(form) }}
            {{ form_row(form.password.first, { 'attr': {'class': 'form-control'} }) }}</br>
            {{ form_row(form.password.second, { 'attr': {'class': 'form-control'} }) }}

            <div class="register-btn-container">
                <a href="{{ path('app_login') }}" class="font-italic text-muted"> 
  <u>Login</u></a></p></div>
                <button class="btn btn-primary" type="submit">Actualizar!</button>
            </div>
        {{ form_end(form) }}
    {% endblock %}
