{% extends 'base.html.twig' %}

{% block title %}Carrera{% endblock %}

{% block body %}
    <h1>CARRERA</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ carrera.id }}</td>
            </tr>
            <tr>
                <th>CARRERA</th>
                <td>{{ carrera.Carrera }}</td>
            </tr>
            <tr>
                <th>ÁREA</th>
                <td>{{ carrera.Area }}</td>
            </tr>
            <tr>
                <th>FOTO</th>
                <td>{{ carrera.foto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carrera_index') }}">Regresar</a>

    <a href="{{ path('carrera_edit', {'id': carrera.id}) }}">Editar</a>

    {{ include('carrera/_delete_form.html.twig') }}
{% endblock %}
