{% extends 'base.html.twig' %}

{% block title %}Horario emp{% endblock %}

{% block body %}
    
<div class="card-body p-5 bg-white rounded">
<h4>Horario </h4>
 <div class="table-responsive">
    <table class"content-table">
        <thead>
            <tr>
               
                <th>LUNES</th>
                 <th>MARTES</th>
                 <th>MIÉRCOLES</th>
                 <th>JUEVES</th>
                 <th>VIERNES</th>
                 <th>SÁBADO</th>
            </tr>
        </thead>
        <tbody>
       
            <tr>
           <td>  
        <table class="table">
        <tbody>
        {% for horario in l %}
            <tr>
               
                <td> 
                
                {{ horario.Materia}} "{{horario.Paralelo}}"
                 </br>
                {{horario.Nivel}} 
                 </br>
                {{horario.Hora_inicio}} -- {{horario.Hora_salida}}
                 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        </td>

        <td>  
        <table class="table">
        <tbody>
        {% for horario in m %}
            <tr>
               
                <td> 
                
                {{ horario.Materia}}   "{{horario.Paralelo}}" 
                 </br>
                {{horario.Nivel}} 
                </br> 
                {{horario.Hora_inicio}} -- {{horario.Hora_salida}}
                 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        </td>



        <td>  
        <table class="table">
        <tbody>
        {% for horario in mt %}
            <tr>
               
                <td> 
                
                {{ horario.Materia}} --"{{horario.Paralelo}}" 
                 </br>
                 {{horario.Nivel}}
                </br> 
                {{horario.Hora_inicio}} -- {{horario.Hora_salida}}
                 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        </td>


        <td>  
        <table class="table">
        <tbody>
        {% for horario in j %}
            <tr>
               
                <td> 
                
                {{ horario.Materia}} --"{{horario.Paralelo}}"
                 </br>
                {{horario.Nivel}} 
                 </br>
                 {{horario.Hora_inicio}} -- {{horario.Hora_salida}}
                 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        </td>


        <td>  
        <table class="table">
        <tbody>
        {% for horario in v %}
            <tr>
               
                <td> 
                
                {{ horario.Materia}} --  "{{horario.Paralelo}}"
                 </br>
                {{horario.Nivel}} 
                 </br>
                 {{horario.Hora_inicio}} -- {{horario.Hora_salida}}
                 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        </td>

        <td>  
        <table class="table">
        <tbody>
        {% for horario in s %}
            <tr>
               
                <td> 
                
                {{ horario.Materia}} -- "{{horario.Paralelo}}"
                 </br>
                {{horario.Nivel}}
                 </br>
                 {{horario.Hora_inicio}} -- {{horario.Hora_salida}}
                 
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

        </td>
            </tr>
        </tbody>
    </table>
</div>
</div>


{% endblock %}
